.row {
	margin: 2px;
}
#body {
	*background-color: white/*#F1ECFF*/;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#header {
	background-color: #D0BCFE;
	padding: 10px;
	margin-top: 5px;
	vertical-align: middle;
}
#header a{
	text-decoration: none;
	color: black;
	font-size: 16pt;
	font-weight: bold;
}
#header img{
	height: 30px;
}
#nav {
	background-color: #D0BCFE;
	width:100%;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
	}
#nav a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 14pt;
}
#nav:hover {
	background-color: #C4ABFE;
	font-weight: bold;
}
#one {
	background-color: #FBF9FF;
	padding: 5px;
	text-align: justify;
}
#one img{
	width: 49%;
}
#social {
	background-color: #D0BCFE;
	padding: 7px;
}
#social img{
	width: 4%;
	float: right;
	margin: 0 3px;
}
#PhoBanner {
	margin-top: 15px;
	padding-top: 5px;
	background-color: #FBF9FF;
	height: 35px;
	vertical-align: middle;
	text-align: center;
	font-size: 12pt;
}
#Border {
	border-left: solid 3px #D0BCFE;
	border-right: solid 3px #D0BCFE;
	margin-top: 5px;
	padding: 0;
}
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
	width: 30%;
	margin: 2% 0 2% 2.5%;
	border: solid 6px #F1ECFF;
}
.myImg:hover {
	opacity: 0.7;
}
.myImgP {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
	width: 13.7%;
	margin: 2% 0 2% 2.5%;
	border: solid 6px #F1ECFF;
}
.myImgP:hover {
	opacity: 0.7;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Don't change the aspect ratio */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  display: block;
  width: auto;
height: 90%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 25px;
  right: 45px;
  color: #f1f1f1;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
